<app-spinner></app-spinner>
<div class="wrapper">
  <div class="sidebar" data-color="black" data-active-color="danger">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="content">
      <div *ngIf="this.formEvent.value.cashierStatus == 0">
        <div class="row">
          <div class="col align-self-start">
            <h5>Evento ativo: <i style="color: rgb(57, 141, 102);font-weight: bold;">{{this.formEvent.value.name}}</i>
            </h5>
            <div style="position: relative; z-index: 1000;">
              <app-cronometer [hours]="this.hours" [minutes]="this.minutes" [seconds]="this.seconds"
                (tempoAtualizado)="updateDuration($event)">
              </app-cronometer>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="title text-center">Cadastro de produtos</h1>
        </div>
      </div>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Adicionar produto</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <div class="mb-5">
              <div class="row">
                <div class="col">
                  <label for="name" class="form-label">Nome do produto</label>
                  <input id="name" class="form-control" formControlName="name" />
                </div>
                <div class="col">
                  <label for="price" class="form-label">Preço</label>
                  <input id="price" type="number" class="form-control" formControlName="price" />
                </div>
                <div class="col" *ngIf="(form.value.id !== '00000000-0000-0000-0000-000000000000')">
                  <label for="image" class="form-label">Imagem</label>
                  <input type="file" class="form-control" (change)="handleFileInput($event)" />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="stockQuantity" class="form-label">Quantidade em estoque</label>
                  <input id="stockQuantity" class="form-control" formControlName="stockQuantity" />
                </div>
                <div class="col">
                  <label for="status" class="form-label">Status</label>
                  <select class="form-select form-select-sm" id="status" formControlName="status">
                    <option value="Ativo" [selected]="true">Ativo</option>
                    <option value="Inativo">Inativo</option>
                  </select>
                </div>
                <div class="col">
                  <label for="description" class="form-label">Descrição</label>
                  <input id="description" class="form-control" formControlName="description" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="submit(content)">Salvar</button>
        </div>
      </ng-template>

      <div>
        <button mat-fab (click)="open(content)" title="Adicionar" class="example-button-container">
          <mat-icon class="button-add">add</mat-icon>
        </button>
      </div>
      <div class="container">
        <div class="row row-cols-2 row-cols-md-5">
          <div class="col mt-2" *ngFor="let product of data ">
            <div class="card card-product">
              <div class="row text-center">
                <div class="col">
                  <img class="card-img-top" [src]="product.image" alt="image">
                </div>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">{{product.name}}</h5>
                <p class="card-text text-center" style="font-size: 1.2em; color: rgb(82, 79, 255); font-weight: bold;">R$ {{product.price}}</p>

                <p class="card-text text-center statusActive" *ngIf="product.status == 'Ativo'">{{product.status}}</p>
                <p class="card-text text-center statusInactive" *ngIf="product.status == 'Inativo'">{{product.status}}
                </p>
                <div class="row text-center">
                  <div class="col">
                    <a (click)="openConfirmation(confirmContent)" title="Remover">
                      <i class="material-icons remove-button">
                        delete
                      </i>
                    </a>
                    <a title="Editar" (click)="getProduct(product.id, content)">
                      <i class="material-icons edit-button">
                        edit_square
                      </i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #confirmContent let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Exclusão de produto</h4>
                <button type="button" class="btn-close" aria-describedby="modal-title"
                  (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <p>
                  <strong>Tem certeza que deseja excluir o produto <span
                      class="text-primary">"{{product.name}}"</span></strong>
                </p>
                <p>
                  Todas as informações associadas a esse produto serão excluídas.
                  <span class="text-danger">Essa operação não pode ser desfeita</span>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary"
                  (click)="modal.dismiss('cancel click')">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="remove(product.id)">Ok</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>