@media (min-width: 1200px) {
    .container{
        max-width: 80%;
    }
}
.card-product {
    width: auto;
    height: auto;
    background-color: #fff;
    color: #66615b;
    font-size: 12.8px;
}
.card-img-top {
    width: 10em;
    height: 10em;
}

.edit-button {
    color: rgb(80, 99, 163);
    cursor: pointer;
    font-size: 40px;
    font-size: 40px;
}

.remove-button {
    color: rgb(235, 110, 110);
    cursor: pointer;
    font-size: 40px;
    font-size: 40px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    position: fixed;
    justify-content: center;
    right: 50px;
    bottom: 50px;
    z-index: 2;
    width: 70px;
    height: 70px;
    background-color: #282424;
}
.example-button-container:hover {
    display: flex;
    justify-content: center;
    width: 70px;
    transform: scale(1.10);
}
.button-add{
    color: white;
    font-size: 3em;
    width: auto;
    height: auto;
}