.cssload-container {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 9999;
}

.cssload-speeding-wheel {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 70%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 1000ms infinite linear;
}

@keyframes cssload-spin {
  100% {
      transform: rotate(360deg);
  }
}