.cssload-container {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Adicione a opacidade desejada ao fundo branco usando RGBA */
  z-index: 9999;
}

.cssload-speeding-wheel {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 12px solid rgb(0, 0, 0);
  border-radius: 80%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 1300ms infinite linear;
  background-color: white; /* Adicione a cor de fundo do spinner */
  opacity: 1; /* Garante que o spinner seja completamente opaco */
}

@keyframes cssload-spin {
  100% {
      transform: rotate(360deg);
  }
}
