.title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 50px;
}

.chart {
    position: relative !important;
    margin: auto;
    padding-bottom: 50px;
    z-index: 1000;
    max-width: 800px;
    max-height: 800px;
}

.eventChart {
    position: relative !important;
    z-index: 1000;
    width: 100%;
}

.excelButton {
    position: relative !important;
    z-index: 1000;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f3f3f3;
    cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.inner-table {
    width: 100%;
}

.inner-table mat-form-field {
    margin-top: 15px;
    width: 100%;
}

.example-button-container {
    justify-content: center;
    z-index: 2;
    width: 40px;
    height: 40px;
    background-color: #282424;
}
.example-button-container:hover {
    display: flex;
    justify-content: center;
    width: 40px;
    transform: scale(1.10);
}
