<div class="main-panel">
    <app-navbar></app-navbar>
    <div class="content">
        <div class="card">
            <div class="row text-center">
              <div class="col">
              </div>
            </div>
            <div class="card-body">
              <div class="row text-center">
                <div class="col">
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

  <div class="wrapper">
    <div class="sidebar" data-color="black" data-active-color="danger" >
        <app-sidebar></app-sidebar>
    </div>
</div>